
/* Use Pascal case for all class names */

.App {
  text-align: center;
}

.Container {
  margin: 0 auto;
  padding: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.SearchInput {
  width: 220px;
}

a {
  color: black;
}

a:hover {
  color: red;
}

button:hover {
  background-color: red;
  color: white;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CoreMovie {
  display: flex;
  width: 350px;
  margin: 15px;
  padding: 5px;
  border: 1px solid lightgray;
}

.CoreMovieBody {
  margin-left: 15px;
  text-align: left;
}

.LikedBy p {
  margin: 0;
}

h1, h2, h3, .btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.NavMenuItem {
  cursor: pointer;
}

.NavMenuItem:hover {
  color: red;
}

.NavDropdown {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  text-align: left;

}

.NavDropdownList {
  list-style-type: none;
  border-bottom: 1px solid lightgray;
}

.NavUser {
  display: flex;
}

.NavUser h5 {
  margin-right: 30px;
}

.DirectorProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.DirectorProfile img {
  margin-right: 25px;
}

.UserContent {
  width: 30%;
  padding: 30px;
}

.DirectorNotes , .DirectorLinks {
  text-align: left;
  margin-bottom: 30px;
}

.DirectorLinks ul {
  list-style-type: none;
}

.DirectorMain {
  display: flex;
}

.DirectorDisplayContainer {
  width: 70%;
}

.DisplayDirectorMovies {
  display: flex;
  flex-wrap: wrap;
}

.Pressed {
  background-color: black;
  color: white;
}

.btn-outline-danger:hover {
  /* find another style */
}
