
/* Use Pascal case for all class names */

.App {
  text-align: center;
}

.Container {
  margin: 0 auto;
  padding: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.SearchInput {
  width: 200px;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CoreMovie {
  display: flex;
  width: 350px;
  margin: 15px;
  padding: 5px;
  border: 1px solid lightgray;
}

.CoreMovieBody {
  margin-left: 15px;
  text-align: left;
}

.LikedBy p {
  margin: 0;
}

h1, h2, h3, .btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.NavMenuItem {
  cursor: pointer;
}

.NavMenuItem:hover {
  color: red;
}

.NavDropdown {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  text-align: left;

}

.NavDropdownList {
  list-style-type: none;
  border-bottom: 1px solid lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
