extends layout.pug
include utils.pug
block content
    //- link(rel='stylesheet' href='/stylesheets/index.css')
    //- link(rel='stylesheet' href='/stylesheets/add-form.css')
    script(src="/scripts/add-new-movie.js" type="module")
    script(src="/scripts/search.js" type="module")
    if (errors)
        ul
            each error in errors
                li= error
    h2= collection.name
    main
        div(class="form-container")
            if (collection.name !== "Short List")
                form(action=`/collections/${collection.id}` method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    +addMovieFormFields("collection")
                    +userNoteFields(userCollections, movieCollections, movieCollectionNames, location="collection")
                    button(type="submit") Save
