extends layout.pug
include utils.pug
block content
    script(src="/scripts/add-new-movie.js" type="module")
    h2 Add Collection
    form(action="/collections/add" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Collection Name", "collectionName")
        +addMovieFormFields()
        +userNoteFields(userCollections, movieCollections, movieCollectionNames, isAddCollection=true)
        button(type="submit") Create
