extends layout.pug
include utils.pug
block content
    form(action="/directors" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Name", "name")
        button(type="submit") Add
