extends layout.pug
include utils.pug
block content
    +handleErrors(errors)
    h2 Add a Director
    form(action="/directors/add" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Name", "name")
        br
        +field("Notes (optional)", "notes", "textarea")
        button(type="submit") Add
