extends layout.pug
block content
    h2 Directors
    table
        thead
            th Name
        tbody
            each director in directors
                tr
                    td= director.name
