doctype html
html
    head
        title Movie Notebook
        link(rel='stylesheet' href='/stylesheets/index.css')
    body
        span
            a(href="/")
                button Home
            a(href="/movies")
                button Movies
            a(href="/directors")
                button Directors
            a(href="/critics")
                button Critics
            a(href="/movies/add")
                button Add Movie
            a(href="/directors/add")
                button Add Director
            a(href="/critics/add")
                button Add Critic

    if locals.authenticated
        a(href="/collections/add")
            button Add Collection
        a(href="/favorite-directors/add")
            button Add Favorite Director
        span Welcome #{user.username}!
        form(action="/users/logout" method="post")
            button(type="submit") Logout
    else
        div
            span
                a(href="/users/login")
                    button Login
                a(href="/users/register")
                    button Register


    block content
