doctype html
html
    script(src="/scripts/search.js" type="module")
    head
        title Movie Notebook
        link(rel='stylesheet' href='/stylesheets/index.css')
    body
        nav
            if locals.authenticated
                div(id="nav-buttons")
                    a(href="/") HOME
                    a(href="/movies/add") ADD MOVIE
                    a(href="/collections/add") ADD COLLECTION
                    a(href="/favorite-directors/add") ADD DIRECTOR
                    a(href="/favorite-critics/add") ADD CRITIC

                    div(class="search-form-container")
                        form(action="/search" id="search-form")
                            img(id="search-icon" src="/images/search-icon.png" width="17px" height="17px")
                            input(type="search" id="search-bar" name="q" list="search-results")

                        div(id="search-results-container")
                            ul(class="search-results-list" id="search-results-list")

                div(id="user")
                    span Welcome, #{user.username}

                    form(action="/users/logout" method="post")
                        button(type="submit" id="logout-button") Logout
            else
                div
                    span
                        a(href="/users/login")
                            button Login
                        a(href="/users/register")
                            button Register
    block content
