doctype html
html
    head
        title Movie Notebook
    body
        p Navbar coming soon
        if locals.authenticated
            span Welcome #{user.username}!
            form(action="/user/logout" method="post")
                button(type="submit") Logout
        else
            span
                a(href="/user/login") Login
                a(href="/user/register") Register

        block content
