extends layout.pug
include utils.pug
block content
    +handleErrors(errors)
    form(action="/users/login" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Email", "email", "text","demo@demo.com")
        +field("Password", "password", "text", "abcABC123!")
        button(type="submit") Login
