extends layout.pug
include utils.pug
block content
    h2 Add a Movie
    br
    form(action="/movies/add" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +movieInfoFields()
        br
        +userNoteFields()
        button(type="submit") Add
