extends layout.pug
include utils.pug
block content
    form(action="/movies/:id" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +movieInfoFields()
        br
        +userNoteFields(userCollections, movieCollections)
        button(type="submit") Update
