extends layout.pug
include utils.pug
block content
    script(src="/scripts/movie.js" type="module")
    form(id=`${movie.id}` class="movie-edit-form")
        input(type="hidden" name="_csrf" value=csrfToken)
        +movieInfoFields()
        br
        +userNoteFields(userCollections, movieCollections, movieCollectionNames)
        button(type="submit") Update
