extends layout.pug
include utils.pug
block content
    form(action="/movies/add" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Title", "title")
        label(for="directorId") Choose or Add a Director
        input(name="directorId" list="directors")
        datalist(id="directors" name="directors")
            each director in directors
                option(value=director.name)
        label(for="yearReleased") Year Released
        select(name="yearReleased")
            each year in years
                option(value=year)= year
        +field("Image Link", "imageLink")
        button(type="submit") Add
