extends layout.pug
include utils.pug
block content
    +displayMovie(movie)
    if locals.authenticated
        h3 Add Notes
        form(action=`/movies/${movie.id}/add-notes`, method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            +userNoteFields()
            br
        button(type="submit") Save
