extends layout.pug
include utils.pug
block content
    h2 Add User Note for #{movie.title}
    form(action=`/movies/${movie.id}/add-notes`, method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +userNoteFields()
        button(type="submit") Save
