extends layout.pug
include utils.pug
block content
    script(src="/scripts/index.js" type="module")
    h2 User Home
    each collection in collections
        div
            h3
                a(href=`/collections/${collection.id}`)= collection.name
            +displayMovies(collection.movies)
            
    h3 Your Favorite Directors
    ul
        each favoriteDirector in favoriteDirectors
            li
                a(href=`/directors/${favoriteDirector.id}`)= favoriteDirector.name

    h3 Your Favorite Critics
    ul
        each favoriteCritic in favoriteCritics
            li
                a(href=`/critics/${favoriteCritic.id}`)= favoriteCritic.name
