html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


main {
    display: flex;
    justify-content: space-between;
}


h2 {
    width: 100%;
}

h3 {
    font-size: 20px;
    margin: 0px;
}

a, li, span, td, th, button {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

button:hover {
    transform:scale(1.1);
}

a {
    display: inline-block;
    color: rgb(57, 57, 57);
}

a:hover {
    transform:scale(1.1);
}

#sidebar {
    min-width: 250px;
    padding-left: 25px;
}

#sidebar ul {
    margin: 5px;
    padding-left: 10px;
}

.sidebar-section {
    margin: 50px 0;
}

#sidebar li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#sidebar li:hover {
    transform:scale(1.1);
}

#sidebar a {
    text-decoration: none;
    font-weight: bold;
}

#sidebar button {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

#display {
    flex-grow: 1;
}

.displayCollection {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.liked-by-ul {
    margin: 0;
    padding: 0;
}

.liked-by-li {
    list-style-type: none;
    padding-left: 35px;
    background-image: url("/images/laurels.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 1px;
    margin: 5px 0;
}

.movie-box button {
    margin-top: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 3%;
}

thead th:nth-child(2) {
    width: 7%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 5%;
}

thead th:nth-child(6) {
    width: 10%;
}

thead th:nth-child(7) {
    width: 10%;
}

thead th:nth-child(8) {
    width: 10%;
}

thead th:nth-child(9) {
    width: 15%;
}

thead th:nth-child(10) {
    width: 10%;
}
