html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 26, 26);
    height: 60px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#nav-buttons {
    display: flex;
}

#user {
    display: flex;
    padding: 10px;
}


a:active {
    color:rgb(211, 211, 211);
}

a:hover {
    transform:scale(1.1);
}


nav a {
    color: white;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

#search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    width: 280px;
}

#search-form input {
    border-radius: 20px;
    width: 275px;
    padding: 3px;
    padding-left: 30px;
}

#search-icon {
    position: relative;
    left: 25px;
}

nav span {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#search-results-container {
    position: absolute;
    float: right;
    width: 320px;
    border: 1px solid lightgray;
    padding: 5px;
    top: 85px;
    background-color: rgb(28, 26, 26);
    z-index: 1;
}

#search-results-container a {
    margin: 5px;
    font-size: 12px;
}

#search-results-list {
    list-style-type: none;
}


#logout-button {
    border-radius: 20px;
    margin: 0 10px;
    height: 25px;
    width: 60px;
    font-family: helvetica;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#logout-button:hover {
    transform:scale(1.1);
}

h2 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}


.poster, .poster-placeholder {
    height: 90px;
    width: 60px;
}

.poster-placeholder, .review-placeholder {
    border: 1px solid lightgray;
    color: gray;
}

.review-placeholder {
    height: 90px;
    width: 300px;
}

.starRating {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: 120px;
}

.starRating input {
    display: none;
}

.starRating > label {
    color: gold;
    width: 20px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    transition: 0.2s ease;
}

.starRating > label:hover:before, .starRating > label:hover ~ label:before {
    color: gold;
    content: '\2605';
    position: absolute;
    transition: 0.2s ease;
}

.starRating label:active::before {
    transform:scale(1.1);
}

.starRating label::before {
    content: '\2606';
}

.starRating input:checked ~ label:before {
    content: '\2605';
}

.solid-star::before {
    content: '\2605';
    color: gold;
    font-size: 20px;
}

.empty-star::before {
    content: '\2606';
    color: gold;
    font-size: 20px;
}
