
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


body {
    background-image: url("../images/love-hate.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
    font-size: 72px;
}


.form-container {
    display: flex;
    height: 75%;
}


form {
    margin: auto;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}


form input {
    margin: 5px;
}


button {
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 5px;
}
