h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

#add-movie-form-container {
    display: flex;
    border: 1px solid lightgray;
    width: 25%;
    justify-content: center;
    padding: 20px 0;
}


#add-movie-form-container input, fieldset, select, textarea {
    margin-bottom: 10px;
}

form {
    width: 75%;
}

input, textarea, fieldset {
    width: 100%;
}


fieldset {
    border: none;
    padding: 0;
}


#watched, #wantToWatch {
    width: 20px;
}


button {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
}
